{% extends "base.html" %}

{% block content %}

<script>

function show_wait() {
  document.getElementById('normal_mode').style.display = "none";
  document.getElementById('wait_mode').style.display = "block";
}

function set_onchange() {
    document.getElementById('file').onchange = function() { show_wait(); this.form.submit(); };
    document.getElementById('camera_file').onchange = function() { show_wait(); this.form.submit(); };
}
</script>
<form method="post" class="container" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="wrapper">
        <br/>
		Braille text recognition in an image.<br/>
		For recognition, upload a photo of the text  (<a href="{{ url_for('help') }}">how to take a photo</a>)
    </div>
    {% if current_user.is_anonymous  %}
        <div class="wrapper" style="padding-top: 20px">
            Для работы необходимо <a href="{{ url_for('login') }}"> войти </a> / <a href="{{ url_for('register') }}"> зарегистрироваться </a>
        </div>
    {% else %}
        <div id="normal_mode">
            <div class="wrapper">
                If you agree that this image be used in a publicly published dataset for the development of new braille recognition algorithms, please check it below. You can recognize text without giving consent. In this case, the uploaded image will not be included in the publicly available dataset.
            </div>
            <div>
                <table class="centered" width="100%"><tr>
                    <td>{{ form.agree() }} <label for="agree">{{ form.agree.label }}</label></td>
                    <td>{{ form.disgree() }} <label for="disgree">{{ form.disgree.label }}</label></td>
                </tr></table>
            </div>
            <div class="wrapper">
                Settings:
            </div>
            <div>
                <table class="centered" width="100%"><tr>
                    <td>{{ form.lang }} <label for="lang">{{ form.lang.label }}</label></td>
                    <td>{{ form.find_orientation() }} <label for="find_orientation">{{ form.find_orientation.label }}</label></td>
                    <td>{{ form.process_2_sides() }} <label for="process_2_sides">{{ form.process_2_sides.label }}</label></td>
                </tr></table>
            </div>
            {{ flashed_messages() }}
            <div class="button_wrapper">
                <input type="button" id="form_file_click" value="Upload Image" onclick="set_onchange(); form.file.click();"/>
                <div align="center">
                    (image, pdf, zip)
                </div>
            </div>
            {{ form.camera_file(accept="image/*", capture="camera", style="display:none;") }}
            {{ form.file(accept="image/*,application/pdf,application/zip", style="display:none;") }}
        </div>
        <div id="wait_mode" style="text-align: center; display:none">
            <div>wait a minute...</div>
            <img src={{ url_for('static', filename='braille.gif') }}>
        </div>
    {% endif %}
</form>
{% endblock %}
